<app-view-header>
  <ng-container header>
    Panel Administratora
  </ng-container>
</app-view-header>
<div role="tablist" class="tabs tabs-lifted">
  <input [value]="Tabs.PROJECTS"
         [(ngModel)]="tabControl"
         checked="checked" type="radio" name="my_tabs_2" role="tab" class="tab text-primary font-semibold"
         aria-label="Projekty"/>
  <div role="tabpanel" class="tab-content border-primary rounded-box p-6">
    @if (tabControl === Tabs.PROJECTS) {
      <app-projects-panel/>
    }
  </div>

  <input
      [(ngModel)]="tabControl"
      [value]="Tabs.UNIVERSITIES"
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab text-primary font-semibold"
      aria-label="Uczelnie"/>
  <div role="tabpanel" class="tab-content border-primary rounded-box p-6">
    @if (tabControl === Tabs.UNIVERSITIES) {
      <app-universities-panel/>
    }
  </div>

  <input [value]="Tabs.CARDS"
         type="radio" name="my_tabs_2" role="tab" class="tab text-primary font-semibold" aria-label="Wizytówki"/>
  <div role="tabpanel" class="tab-content border-primary rounded-box p-6">
    @if (tabControl === Tabs.CARDS) {
      dupa
    }
  </div>
</div>
