<app-view-header>
  <ng-container header>
    Panel Administratora
  </ng-container>
</app-view-header>
<div role="tablist" class="tabs tabs-lifted">
  <input checked="checked" type="radio" name="my_tabs_2" role="tab" class="tab text-primary font-semibold"
         aria-label="Projekty"/>
  <div role="tabpanel" class="tab-content border-primary rounded-box p-6">
    <app-projects-panel/>
  </div>

  <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab text-primary font-semibold"
      aria-label="Uczelnie"/>
  <div role="tabpanel" class="tab-content border-primary rounded-box p-6">
    Uczelnie
  </div>

  <input type="radio" name="my_tabs_2" role="tab" class="tab text-primary font-semibold" aria-label="Wizytówki"/>
  <div role="tabpanel" class="tab-content border-primary rounded-box p-6">
    Wizytówki
  </div>
</div>
