<form class="flex flex-col h-full w-full" (ngSubmit)="saveNewProject()" [formGroup]="newProjectFormGroup">
  <div class="flex justify-between">
    <div class="flex items-center mb-8">
      <div class="relative mr-2.5">
        <input type="file" hidden accept="image/*" #imageInput (change)="uploadImage($event)">
        <img [ngSrc]="uploadedPhoto ? uploadedPhoto.src : 'assets/icons/ellipse-avatar.svg'"
             class="w-12 h-12 rounded-3xl"
             alt="project photo"
             width="48"
             height="48">
        <img class="w-6 h-6 absolute top-0 bottom-0 right-0 left-0 m-auto cursor-pointer hover:scale-110"
             ngSrc="assets/icons/edit-pencil.svg"
             alt="edit-icon"
             height="24" width="24" (click)="onImageClick()">
      </div>
      <input type="text" placeholder="Nazwa projektu..." formControlName="projectName"
						 #tooltip="matTooltip"
             [matTooltipDisabled]="!getFormGroupControls().projectName.hasError('minlength')"
             [matTooltip]="'Zbyt krótka nazwa (min 3)'"
             [matTooltipClass]="'error'"
             [class.input-error]="getFormGroupControls().projectName.errors  && validate"
             class="input input-bordered input-secondary px-3 text-secondary font-semibold text-2xl w-3/4 lg:w-auto"/>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="loading">Zapisz</button>
  </div>
  <div class="px-2.5 mb-5 flex flex-col">
    <p class="text-primary text-base font-semibold mb-2.5">Opis projektu:</p>
    <textarea class="textarea textarea-secondary w-full h-36 resize-none text-secondary font-semibold text-md"
              formControlName="description"
              placeholder="Description..."></textarea>
  </div>
  <div class="px-2.5 flex flex-col">
    <p class="text-primary text-base font-semibold mb-2.5">Potrzebne role oraz liczba uczestników:</p>
    <div class="flex flex-col gap-4 border border-solid border-secondary px-6 py-4 rounded-lg w-full xl:w-2/5">
      <div class="pl-1 max-h-32">
        <ng-scrollbar orientation="vertical" visibility="native"
                      [thumbClass]="'!rounded-lg !bg-primary'">
          @for (position of positions; track position.name) {
            <app-new-position [positionName]="position.name" [quantity]="position.quantity"/>
          }
        </ng-scrollbar>
      </div>
      <div class="flex w-full">
        <input type="text" placeholder="Dodaj pozycje" [formControl]="newPositionControl"
               class="input input-bordered input-secondary px-3 text-secondary font-semibold text-xl mr-2.5 h-10 w-full"/>
        <button class="btn btn-primary add-button" type="button" (click)="addPositionToProject()">
          <svg width="14" height="14" viewBox="0 0 14 14" class="fill-neutral" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2.5 mt-auto font-semibold text-xl text-primary px-2.5">
    <div class="flex border border-solid border-secondary p-2.5 rounded-lg w-full gap-2.5 items-center">
      <p class="hidden md:block">Uczelnia:</p>
      <input type="text"
             formControlName="university"
             class="input input-bordered input-secondary px-3 text-secondary font-medium text-xl h-10 w-full md:w-2/5"
             placeholder="Uczelnia"
             [class.input-error]="getFormGroupControls().university.errors && validate"
             [matAutocomplete]="uniAuto"/>

      <mat-autocomplete #uniAuto="matAutocomplete">
        <ng-scrollbar orientation="vertical" visibility="native"
                      [thumbClass]="'!rounded-lg !bg-primary'">
          @for (university of filteredUniversities; track university.id) {
            <mat-option [value]="university.name">{{ university.name }}</mat-option>
          }
        </ng-scrollbar>
      </mat-autocomplete>
    </div>
    <div class="flex border border-solid border-secondary p-2.5 rounded-lg w-full gap-2.5 items-center">
      <p class="hidden md:block">Kierownik projektu:</p>
      <input type="text"
             formControlName="leader"
             class="input input-bordered input-secondary px-3 text-secondary font-medium text-xl h-10 w-full md:w-2/5 disabled"
             placeholder="Kierownik projektu"
             [class.input-error]="getFormGroupControls().leader.errors && validate"
             [matAutocomplete]="leaderAuto"/>

      <mat-autocomplete #leaderAuto="matAutocomplete" [displayWith]="leaderDisplayFn">
        <ng-scrollbar orientation="vertical" visibility="native"
                      [thumbClass]="'!rounded-lg !bg-primary'">
          @for (leader of universityLeaders; track leader.id) {
            <mat-option [value]="leader">{{ leader.name }} {{ leader.lastName }}</mat-option>
          }
        </ng-scrollbar>
      </mat-autocomplete>
    </div>
    <div class="flex border border-solid border-secondary p-2.5 rounded-lg w-full gap-2.5 items-center">
      <p>Terminy oddania projektu:</p>
      <div class="flex text-primary relative w-60 md:w-44">
        <input matInput [matDatepicker]="startPicker" placeholder="dd/mm/yyyy" appDateMask formControlName="dueTo"
               class="input input-bordered input-secondary text-secondary h-10 datepicker w-full" [min]="minDate"
               [class.input-error]="getFormGroupControls().dueTo.errors && validate"
               (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle class="absolute m-auto top-0 bottom-0 right-0 text-secondary" matIconSuffix
                               [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </div>
    </div>
    <div class="flex-col flex border border-solid border-secondary p-2.5 rounded-lg w-full gap-2.5 ">
      <p class="text-base">Sponsorzy projektu:</p>
      <div class="flex gap-1">
        @for (sponsor of sponsors; track sponsor.name) {
          <div class="relative" [matTooltip]="sponsor.name">
            @if (sponsor.photo) {
              <img [src]="getPhotoUrl(sponsor.photo)" alt="sponsor photo"
                   class="w-16 h-16 object-contain">
            }
            <img
                class="absolute top-0 bottom-0 right-0 left-0 m-auto cursor-pointer hover:scale-110 text-error"
                ngSrc="assets/icons/x-mark-red.svg"
                alt="remove-icon"
                height="24" width="24" (click)="removeSponsor(sponsor)">
          </div>
        }
        <div class="border border-dashed border-primary w-16 h-16 relative">
          <svg width="14" height="14" viewBox="0 0 14 14"
               class="fill-primary absolute m-auto top-0 bottom-0 right-0 left-0 cursor-pointer"
               xmlns="http://www.w3.org/2000/svg" (click)="openAddSponsorModal()">
            <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</form>
