@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.btn:disabled {
  @apply bg-disabled text-disabled-text;
}

div.mat-mdc-autocomplete-panel {
  @apply bg-secondary rounded-lg #{!important};
  mat-option {
    @apply text-primary text-xl #{!important};
    span {
      @apply truncate
    }
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    @apply bg-secondary #{!important};
  }

  .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after, .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
    @apply text-primary #{!important};
  }
}

.mat-mdc-tooltip-surface {
  @apply bg-primary text-neutral #{!important};
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  @apply max-w-none #{!important};
}
