@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.btn:disabled {
  @apply bg-disabled text-disabled-text;
}

div.mat-mdc-autocomplete-panel {
  @apply bg-secondary rounded-lg #{!important};
  mat-option {
    @apply text-primary text-xl #{!important};
    span {
      @apply truncate
    }
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    @apply bg-secondary #{!important};
  }

  .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after, .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
    @apply text-primary #{!important};
  }
}

.mat-mdc-tooltip-surface {
  @apply bg-primary text-neutral #{!important};
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  @apply max-w-none #{!important};
}

:where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(.active, .btn):hover {
  @apply bg-secondary text-neutral
}

.hidden-menu {
  @apply hidden opacity-0;
}

.visible-menu {
  @apply visible opacity-100;
}

.mat-mdc-menu-panel {
  @apply bg-neutral rounded-lg #{!important};
}

.mat-mdc-menu-content {
  @apply p-0 #{!important};
}

.menu {
  div.mat-mdc-menu-content {
    li:not(:last-child) {
      @apply mb-0.5;
    }
  }
}
