<app-view-header>
  <ng-container header>
    Twoje zespoły
  </ng-container>
  <ng-container description>
    Aktualnie znajdujesz się na ekranie zespołów przypisanych do projektów, w których bierzesz udział. Używaj filtrów
    jeśli nie jesteś w stanie odnaleźć interesującego cię zespołu.
  </ng-container>
</app-view-header>
<app-quick-filters
    [addButton]="false"
    [dateRange]="false"
    (favToggled)="filterFavourites($event)"
    (alphabeticalSortChanged)="sortTeams($event)"
    (searchbarValueChanged)="filterTeamsByName($event)"/>

@if (fetching) {
  <app-loader/>
} @else {
  <ng-scrollbar orientation="vertical" visibility="native"
                [trackClass]="'my-4'"
                [thumbClass]="'!rounded-lg !bg-primary'">
    <div class="p-4 grid md:grid-cols-2 xl:grid-cols-3 gap-4">
      @for (team of renderedTeams; track team.id) {
        <app-team-card [team]="team"/>
      }
    </div>
  </ng-scrollbar>
}
