<div class="px-4 py-5 border-solid border-b border-secondary flex justify-center">
  LOGO
</div>
<div class="h-full px-4 py-5 border-solid border-b border-secondary flex flex-col gap-3 text-xl">
  <app-nav-tab [routerLink]="'/teams'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/your-teams.svg" alt="icon" height="24" width="24">
    Twoje zespoły
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/projects'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/folder-open.svg" alt="icon" height="24" width="24">
    Otwarte projekty
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/universities'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/university.svg" alt="icon" height="24" width="24">
    Uczelnie
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/calendar'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/calendar.svg" alt="icon" height="24" width="24">
    Kalendarz
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/cards'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/badge.svg" alt="icon" height="24" width="24">
    Wizytówki
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/chats'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/chat.svg" alt="icon" height="24" width="24">
    Wiadomości
  </app-nav-tab>
  @if (admin === UserRole.ADMIN) {
    <app-nav-tab [routerLink]="'/panel'" routerLinkActive="font-extrabold">
      <img ngSrc="assets/icons/panel.svg" alt="icon" height="24" width="24">
      Panel admina
    </app-nav-tab>
  }
</div>
<div class="px-4 py-5 flex justify-between">
  <p class="truncate mr-4">{{ userName$ | async }}</p>
  <img role="button" ngSrc="assets/icons/menu.svg" alt="menu" height="5" width="16" [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu"
            class="dropdown-content menu w-40 p-2 border-solid border-secondary border shadow text-primary">
    <li [routerLink]="'/profile'"><a>Twój profil</a></li>
    <li (click)="logout()"><a class="text-error logout">Wyloguj</a></li>
  </mat-menu>
</div>
