<div class="px-4 py-5 border-solid border-b border-secondary flex justify-center">
  LOGO
</div>
<div class="h-full px-4 py-5 border-solid border-b border-secondary flex flex-col gap-3 text-xl">
  <app-nav-tab [routerLink]="'/teams'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/your-teams.svg" alt="icon" height="24" width="24">
    Twoje zespoły
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/projects'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/folder-open.svg" alt="icon" height="24" width="24">
    Otwarte projekty
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/universities'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/university.svg" alt="icon" height="24" width="24">
    Uczelnie
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/calendar'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/calendar.svg" alt="icon" height="24" width="24">
    Kalendarz
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/cards'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/badge.svg" alt="icon" height="24" width="24">
    Wizytówki
  </app-nav-tab>
  <app-nav-tab [routerLink]="'/chat'" routerLinkActive="font-extrabold">
    <img ngSrc="assets/icons/chat.svg" alt="icon" height="24" width="24">
    Wiadomości
  </app-nav-tab>
</div>
<div class="px-4 py-5">
  User data
</div>
