<div class="w-2/5 bg-primary h-full hidden md:block"></div>
<div class="flex flex-col items-center justify-center flex-grow">
  <div class="w-5/12 text-center">
    <h1 class="font-bold text-3xl text-primary mb-4">
      Zaloguj się
    </h1>
    <p class="text-secondary font-semibold text-base empty:hidden  mb-4">
      Twórz jeszcze bardziej jakościowe prace na miarę jutra i poznawaj nowe osoby!
    </p>
    <label class="w-full">
      <div class="label">
        <span class="label-text text-primary font-normal text-xs">Login</span>
      </div>
      <input type="text" placeholder="Login" class="input input-bordered w-full mb-2 input-secondary"/>
    </label>
    <label class="w-full">
      <div class="label">
        <span class="label-text text-primary font-normal text-xs">Hasło</span>
      </div>
      <input type="password" placeholder="Hasło" class="input input-bordered input-secondary w-full mb-4"/>
    </label>
    <button class="btn btn-primary">Zaloguj</button>
  </div>
</div>
