<app-view-header>
  <ng-container header>
    Otwarte Projekty
  </ng-container>
  <ng-container description>
    Aktualnie znajdujesz się na ekranie wszystkich projektów, w których bierzesz udział.
  </ng-container>
</app-view-header>
<app-quick-filters
    (favToggled)="filterFavourites($event)"
    (alphabeticalSortChanged)="sortProjects($event)"
    (searchbarValueChanged)="filterProjectsByName($event)"/>

@if (fetching) {
  <app-loader></app-loader>
} @else {
  <ng-scrollbar orientation="vertical" visibility="native"
                [trackClass]="'my-4'"
                [thumbClass]="'!rounded-lg !bg-primary'">
    <div class="p-4 grid md:grid-cols-2 xl:grid-cols-3 gap-4">
      @for (project of renderedProjects; track project.id) {
        <app-project-card [project]="project"/>
      }
    </div>
  </ng-scrollbar>
}


